page-todas-edicoes {
    .EdiTop {
        display: flex;
        justify-content: space-between;
        .EdiThu {
            width: calc(50% - 10px);
            img {
                width: 100%;
            }
        }
        .EdiInf {
            width: calc(50% - 10px);
            .EdiTit {
                font-weight: 300;
                color: #000;
                font-family: "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
                line-height: 1.1;
                font-size: 22px;
                margin-bottom: 10px;
            }
            .EdiSubTit {
                font-size: 14px;
            }
        }
    }
    .InfSep {
        border-bottom: 2px solid #ccc;
    }
    .EdiAnt {
        .TitEdiAnt {
            font-weight: 300;
            color: #000;
            font-family: "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
            line-height: 1.1;
            font-size: 24px;
            margin-top: 10px;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        ion-list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .item {
                width: calc(33.33% - 10px);
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0;
                margin-bottom: 15px;
                .EdiAndThuAre {
                    width: 100%;
                    height: auto;
                    margin: 0 !important;
                    min-width: auto;
                    min-height: auto;
                    .EdiAndThu {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .item-inner {
                    border: 0 !important;
                    padding: 0 !important;
                    min-height: auto !important;
                    overflow: visible;
                    width: 100%;
                    .input-wrapper {
                        .label {
                            white-space: normal;
                            .EdiAndTit {
                                width: 100%;
                                color: #000;
                                font-family: "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
                                line-height: 1.1;
                                font-size: 13px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}