page-espaco-leitor {
    .TitCat{
        margin-bottom:35px;
    }
    .IteLei{
        margin-top:25px;
        .h2{
            margin:0 0 15px 0;
            font-size: 20px;
        }

        .p{
            margin:0;
            font-size: 15px;
            
        }
    }
}
